# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.class
*.html
.classpath
.project
*output.txt
*.DS_Store
.DS_Store
*.csv
*.idea


*sun_checks.xml
*checkstyle-suppressions.xml


.settings/
/.settings/
bin/
tmp/
/target/
/target
/test-output/
/test-output
.github/.DS_Store
.settings/*
local.properties
LICENSE
